@model LetterAmazer.Websites.Client.ViewModels.CreateSingleLetterModel

@section header {
    <script type="text/javascript" src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ckeditor/config.js")"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBulh9LO7V3Eb80BF0-h6BW6MyiO-qNTC0&sensor=false"></script>

    <link href="@Url.Content("~/Scripts/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/uploadify/jquery.uploadify.min.js")"></script>

    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/dropzone/css/dropzone.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/dropzone/dropzone.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/knockout-3.0.0.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/internals/country.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/internals/sendaletter-viewmodel.js")"></script>
}

<div class="jumbotron-white">
    <div class="container">
        <div class="text-center promotionMargin">
            <img src="/Content/images/letteramazer.png" />
            <div>
                <p class="frontpageLead">
                    1. Tell us where we should send your letter. 2. Tell us what your letter should contain. 3. Get the letter stamped!
                </p>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron-lightblue">
    <div class="container">
        <div class="promotionMargin">
            @using (Html.BeginForm("Index", "SingleLetter", FormMethod.Post, new { id = "sendALetterForm" }))
            {
            <div class="row">
                <div class="col-lg-7">
                    <div class="sendLettersForm">
                        <div id="sendaletter-step1" data-bind="visible: showStepOne()">
                            <div class="row">
                                <div class="col-lg-11 col-lg-offset-1">
                                    <p class="frontpageLeadExplanation">1. Tell us where we should send your letter</p>
                                    <p>
                                        Your e-mail:<br />
                                        @Html.TextBoxFor(m => m.Email, new { @class = "input-lg", placeholder = "Enter your e-mail" })
                                    </p>
                                    <p>
                                        Recipient name:<br />
                                        @Html.TextBoxFor(m => m.RecipientName, new Dictionary<string, object>{{"class","input-lg"}, {"placeholder","Enter recipient"}, {"data-bind","value: receiver"}})
                                    </p>
                                    <p>
                                        Destination country:<br />
                                        <select class="address" data-bind="options: countries, optionsText: 'text', optionsValue: 'value', value: selectedCountry, event: {change: selectCountry}"></select>
                                        @Html.HiddenFor(m => m.DestinationCountry, new Dictionary<string, object>{{"data-bind","value:country"}})
                                        @Html.HiddenFor(m => m.DestinationCountryCode, new Dictionary<string, object>{{"data-bind","value:countryCode"}})
                                        <br />
                                    </p>
                                    <p>
                                        Destination ZIP code (and state if relevant):<br />
                                        @Html.TextBoxFor(m => m.ZipCode, new Dictionary<string, object>{{"class","input-lg address"}, {"placeholder","Enter destination ZIP code"}, {"data-bind","value:postal"}})
                                    </p>
                                    <p>
                                        Destination city:<br />
                                        @Html.TextBoxFor(m => m.DestinationCity, new Dictionary<string, object>{{"class","input-lg address"}, {"placeholder","Enter destination city"}, {"data-bind","value:city"}})
                                    </p>

                                    <p>
                                        Destination address:<br />
                                        @Html.TextBoxFor(m => m.DestinationAddress, new Dictionary<string, object>{{"class","input-lg address"}, {"placeholder","Enter destination address"}, {"data-bind","value:address"}})
                                    </p>
                                    <input id="btn-proceed-12" type="button" class="btn btn-primary btn-lg" value="Proceed &raquo;" data-bind="click: goToStepTwo" />
                                </div>
                            </div>
                        </div>

                        <div id="sendaletter-step2" data-bind="visible: showStepTwo()">
                            <p class="frontpageLeadExplanation">2. Tell us what your letter should contain</p>
                            <p class="caption frontpageCaption" style="margin-top: -10px; margin-bottom: 14px;">(We promise we don't look)</p>
                            
                            <div id="step2-choice" style="margin-bottom: 11px; overflow: auto;" data-bind="visible: uploadPdf() == 0">
                                <a id="lnkUploadPdf" data-bind="click: useUploadPdfMode" style="float: left;">
                                    <span class="btn btn-primary btn-lg" style="margin-bottom: 5px;">Upload PDF file</span>
                                </a>
                                <span style="float: left; padding: 10px;">Or</span>
                                <a id="lnkWriteText" data-bind="click: useWriteContentMode" style="float: left;">
                                    <span class="btn btn-primary btn-lg">Write letter here</span>
                                </a>
                            </div>
                            <div id="step2-upload" class="promotionMargin" style="margin-top: 25px;" data-bind="visible: isUploadFile()">
                                <p class="frontpageLeadExplanation">Upload your PDF file:</p>
                                <div id="myDropzone" class="la-dropzone">
                                    <div class="dz-default dz-message">
                                        <span>
                                            <strong>Drop files</strong> here to upload
                                            <br />
                                            <em>(or click)</em>
                                        </span>
                                    </div>
                                </div>
                                <div id="uploadFallbackPanel" style="display: none;">
                                    <input id="fileUpload" name="fileUpload" type="file" />
                                </div>
                                <br />
                                <br />
                                <a id="uploadLetterBack" class="btn btn-default" data-bind="click: resetContentMode">Back</a>
                            </div>
                            <div id="step2-write" class="promotionMargin" style="margin-top: 25px;" data-bind="visible: isWriteContent()">
                                <p class="frontpageLeadExplanation">Write your letter:</p>
                                @Html.TextAreaFor(m => m.WriteContent)
                                <label id="currentChars"></label>
                                <a class="pdfPreviewLnk" href="#" data-bind="click: previewWrittenContent">See preview of how the letter will look</a>
                                <br />
                                <br />
                                <a id="writeLetterBack" class="btn btn-default" data-bind="click: resetContentMode">Back</a>
                            </div>

                            <input id="btn-back-21" type="button" class="btn btn-default" value="Back" data-bind="click: goToStepOne, visible: uploadPdf() == 0"/>
                            <input id="btn-proceed-23" type="button" class="btn btn-primary btn-lg" value="Proceed &raquo;" data-bind="click: goToStepThree, visible: showStepTwoAction()"/>
                        </div>
                        
                        <div id="sendaletter-step3" data-bind="visible: showStepThree()">
                            <p class="frontpageLeadExplanation">3. Get the letter stamped!</p>
                            <p class="frontpageSmallLeadExplanation">Sending letters are not free, and when we send letters without stamps, the postal offices get really angry at us. <b>So we better get the letter stamped</b>.</p>
                            <hr />

                            <p data-bind="visible: uploadPdf() == 1">
                                <b>REMEMBER:</b> <a class="pdfPreviewLnk" href="#" data-bind="click: previewPDF">See a preview of how the letter will look</a>
                            </p>
                            <p data-bind="visible: uploadPdf() == 2">
                                <b>REMEMBER:</b> <a class="pdfPreviewLnk" href="#" data-bind="click: previewWrittenContent">See a preview of how the letter will look</a>
                            </p>

                            <div class="row letterDestination">
                                <div class="col-lg-6">
                                    <dl>
                                        <dt>Payment method</dt>
                                        <dd>PayPal</dd>

                                        <dt>Shipping time</dt>
                                        <dd>3-6 work days</dd>

                                        <dt>Price</dt>
                                        <dd>
                                            <label id="priceOfLetterLbl" data-bind="text: cost"></label>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="col-lg-6 ">
                                    <dl>
                                        <dt>Letter destination</dt>
                                        <dd>To
                                            <label id="receiverLbl" data-bind="text: receiver"></label>
                                            <br />
                                            <label id="addressLbl" data-bind="text: address"></label>
                                            <br />
                                            <label id="postalLbl" data-bind="text: postal"></label>
                                            <label id="cityLbl" data-bind="text: city"></label>
                                            <br />
                                            <label id="countryLbl" data-bind="text: country"></label>
                                        </dd>
                                    </dl>
                                </div>
                            </div>

                            @Html.CheckBoxFor(m => m.SignUpNewsletter)
                            Follow our exciting journey through e-mail
                            <br />
                            <br />
                            <input id="btn-back-32" type="button" class="btn btn-default" value="Back" data-bind="click: goToStepTwo"/>
                            <input id="btnsubmit" type="submit" class="btn btn-primary btn-lg submitAbe" value="Stamp and send letter &raquo;" data-bind="click: save" />
                            @Html.HiddenFor(m => m.UseUploadFile, new Dictionary<string, object>{{"data-bind", "value:useUploadFile"}})
                            @Html.HiddenFor(m => m.UploadFile, new Dictionary<string, object>{{"data-bind", "value:uploadFileKey"}})
                            <br />
                            <br />
                            <a href="javascript:void(0)" id="toggleVoucherLnk" data-bind="click: toggleVoucherPanel">(add voucher)</a>
                            <div id="voucherDiv" data-bind="visible: showVoucher()">
                                <p>
                                    Voucher:<br />
                                    @Html.TextBoxFor(m => m.VoucherCode,  new Dictionary<string, object>{{"id", "voucherBox"}, {"class", "input-lg"}, {"placeholder", "Enter voucher code"}, {"data-bind", "value:voucherCode"}})
                                    <label id="voucherStatus" data-bind="text: voucherStatus, attr: {'style': voucherColor}"></label>
                                </p>
                            </div>
                        </div>
                    
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="sendAletterSideboxSomething">
                        <p><b>Oi mate!</b><br />
                            Are you a company? Soon we're adding wonderful stuff so sending multiple letters will become extremely easy.<br />
                            <a href="@Url.Action("NewsletterSignUp", "Home")">Get updates</a>.
                        </p>
                    </div>
                    <div id="locationMap" style="margin-top: 15px;" data-bind="visible: showMap()">
                        <div class="google-map-canvas" data-bind="visible: initMap()">
                            <div id="mapsDiv">
                                <div id="map-canvas" style="width: 457px; height: 500px; border: 1px solid #d9d9d9; border-radius: 10px;"></div>
                            </div>
                        </div>
                    </div>
                    <div id="sendAnimationFun" data-bind="visible: showAnimation()">
                        <div id="stampDiv" style="position: relative; z-index: 100">
                            <img src="/Content/images/stamp.png" width="100" />
                        </div>
                        <div style="position: relative; top: 200px; z-index: 5">
                            <img src="/Content/images/letter.png" width="100" />
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    var createLetterData = {
        countryList: countryList,
        currentFile: null,
        generatePDFUrl: '@Url.Action("GeneratePDF")',
        getPriceUrl: '@Url.Action("GetPrice")',
        applyVoucherUrl: '@Url.Action("ApplyVoucher")',
        previewPDFUrl: '@Url.Action("PreviewPDF")',
        geocoder: new google.maps.Geocoder()
    };

    CKEDITOR.replace('WriteContent');
    createLetterData.writeContentEditor = CKEDITOR.instances.WriteContent;

    var viewModel = new SendALetterViewModel('#sendALetterForm', createLetterData);
    ko.applyBindings(viewModel, document.getElementById('sendALetterForm'));

    $('div#myDropzone').dropzone({
        url: '@Url.Action("Upload")',
        acceptedFiles: 'application/pdf',
        maxFilesize: 10,
        fallback: function () {
            $('div#myDropzone').hide();
            $('div#uploadFallbackPanel').show();
        },
        success: function (file, data) {
            var template = file.previewTemplate;
            if (data.status == "success") {
                if (createLetterData.currentFile != null) $(createLetterData.currentFile.previewTemplate).remove();
                createLetterData.currentFile = file;
                $(template).find('.dz-progress').hide();
                $(template).find('.dz-details img').attr({
                    'src': '@Url.Content("~/Content/images/pdf-icon.png")',
                    'height': '100',
                    'style': 'margin-top: 28px; margin-left: 20px; height: 65px; width: 65px; display: block;'
                });
            } else {
                $(template).find('.dz-error-message').remove();
                $(template).addClass('dz-error');
                $(template).find('.dz-error-mark').on('click', function () {
                    $(template).remove();
                });
            }
        },
        error: function (file, responseText) {
            var template = file.previewTemplate;
            $(template).find('.dz-error-message').remove();
            $(template).addClass('dz-error');
            $(template).find('.dz-error-mark').on('click', function () {
                $(template).remove();
            });
        }
    });

    $('#fileUpload').uploadify({
        'buttonText': 'Select PDF',
        'fileTypeDesc': 'PDF Files',
        'fileTypeExts': '*.pdf',
        'fileObjName': 'uploadFile',
        'removeCompleted': false,
        'multi': false,
        'swf': '@Url.Content("~/Scripts/uploadify/uploadify.swf")',
        'uploader': '@Url.Action("Upload")',
        'onUploadSuccess': function (file, data, response) {
            console.info("data: ", data);
            var result = $.parseJSON(data);
            if (result.status == "success") {
                viewModel.uploadFileKey(result.key);
            }
        },
        'onUploadError': function (ex, e, er) {
            console.log(er);
        }
    });
    /*
    var stamped = false;
    $(document).ready(function () {
        $('#btn-proceed-12').click(function () {
            $('#sendaletter-step1').hide();
            $('#sendaletter-step2').show(400);
            setDestinationLabels();
            $('#btn-proceed-23').hide();

        });

        $('#btn-proceed-23').click(function () {
            $('#sendaletter-step2').hide();
            $('#sendaletter-step3').show(400);
            $('#locationMap').hide();

            $('#sendAnimationFun').show();
            $('#sendAnimationFun').addClass('visible-md');
            $('#sendAnimationFun').addClass('visible-lg');
            setLetterCost();
        });

        $('#btn-back-21').click(function () {
            $('#sendaletter-step1').show(400);
            $('#sendaletter-step2').hide();
        });

        $('#btn-back-32').click(function () {
            $('#sendaletter-step2').show(400);
            $('#sendaletter-step3').hide();
            $('#locationMap').show();
            $('#sendAnimationFun').hide();
            $('#sendAnimationFun').removeClass('visible-md');
            $('#sendAnimationFun').removeClass('visible-lg');
        });

        $('.pdfPreviewLnk').click(function () {

            var writtenContent = encodeURIComponent(htmlEncode(CKEDITOR.instances.LetterBox.getData()));

            var url = '/services/handlers/generatepdf.ashx?content=' + writtenContent;
            window.open(url);
        });


        $('#toggleVoucherLnk').click(function () {
            $('#voucherDiv').toggle();
        });

        $('#<%=btnsubmit.ClientID %>').click(function () {

            if (!stamped) {
                $('#stampDiv').animate({
                    top: '+=250px'
                }, 800);
                stamped = true;
            }
        });


        $('#lnkUploadPdf').click(function () {
            $('#step2-choice').hide();
            $('#step2-upload').show(400);
            $('#<%=SelectedUploadFld.ClientID %>').val('pdf');
            $('.pdfPreviewLnk').hide();
            $('#btn-proceed-23').show();
            $('#btn-back-21').hide();
            setWriteMethod('upload');
        });

        $('#lnkWriteText').click(function () {
            $('#step2-choice').hide();
            $('#step2-write').show(400);
            $('#<%=SelectedUploadFld.ClientID %>').val('write');
            $('.pdfPreviewLnk').show();
            $('#btn-proceed-23').show();
            $('#btn-back-21').hide();
            setWriteMethod('write');
        });

        $('#uploadLetterBack').click(function () {
            $('#step2-choice').show(400);
            $('#step2-upload').hide();

            $('#btn-proceed-23').hide();
            $('#btn-back-21').show();
        });

        $('#writeLetterBack').click(function () {
            $('#step2-choice').show(400);
            $('#step2-write').hide();
            $('#btn-proceed-23').hide();
            $('#btn-back-21').show();
        });

    });

    function setDestinationLabels() {
        $('#addressLbl').text($('#<%=AddressBox.ClientID %>').val());
        $('#cityLbl').text($('#<%=CityBox.ClientID %>').val());
        $('#countryLbl').text($('#<%=CountryCodes.ClientID %>').val());
        $('#receiverLbl').text($('#<%=Receiverbox.ClientID %>').val());
        $('#postalLbl').text($('#<%=PostalBox.ClientID %>').val());
    }

    $('#<%=PostalBox.ClientID %>').blur(function () {
        loadMaps();
    });

    $('#<%=CityBox.ClientID %>').blur(function () {
        loadMaps();
    });

    $('#<%=AddressBox.ClientID %>').blur(function () {
        loadMaps();
    });

    $('#<%=voucherBox.ClientID %>').blur(function () {
        updateVoucherStatus();
    });

    $('.CountryListSelectorList').on('change', function () {
        loadMaps();
    });

    var prev = 0;
    var copied = false;
    (function () {

        var currentCharsBox = $('#currentChars');

        var lengthOfBox = CKEDITOR.instances.LetterBox.getData().length;

        var min = 4000;

        if (lengthOfBox > min && ((lengthOfBox - prev) > 3000) || copied) {

            currentCharsBox.text('Whoops. It seems you have copied the text directly from a text processing program like Word. Please use the "Insert from Word" button instead.');
            currentCharsBox.css('color', 'red');
            copied = true;
        }
        else if (lengthOfBox > min) {
            currentCharsBox.text('It seems you are writing a longer letter? It might be easier to upload a PDF file');
            currentCharsBox.css('color', 'yellow');
        } else {
            copied = false;
        }

        prev = lengthOfBox;

        setTimeout(arguments.callee, 1500);
    })();


    function loadMaps() {
        var address = $('#<%=AddressBox.ClientID %>').val();
        var postal = $('#<%=PostalBox.ClientID %>').val();
        var city = $('#<%=CityBox.ClientID %>').val();
        var country = $('#<%=CountryCodes.ClientID %>').val();


        var query = address + ' ' + postal + ' ' + city + ' ' + country;
        var url = '<%= ResolveUrl("~/services/geolocationservice.asmx/getlatitudeandlongitude") %>';
        $.ajax({
            type: "POST",
            data: "{'query':'" + query + "'}",
            url: url,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (d) {
                initialize(JSON.parse(d.d));
            },
            error: function () {

            }
        });

        $('#mapsDiv').show();
    }


    function getWrittenHtmlPdfLink() {
        var writtenContent = encodeURIComponent(htmlEncode(CKEDITOR.instances.LetterBox.getData()));

        var url = '<%= ResolveUrl("~/services/letterservice.asmx/savewrittenpdf") %>';
        $.ajax({
            type: "POST",
            data: "{'content':'" + writtenContent + "'}",
            url: url,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (d) {
                return d.tempPath;
            },
            error: function () {
                return '';
            }
        });

    }

    function htmlEncode(value) {
        return $('<div/>').text(value).html();
    }

    function updateVoucherStatus() {
        var lbl = $('#voucherStatus');
        var code = $('#<%=voucherBox.ClientID %>').val();
        var url = '/services/letterservice.asmx/getvouchercredits';
        $.ajax({
            type: "POST",
            data: "{'code':'" + code + "'}",
            url: url,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.d > 0) {
                    lbl.attr("color", "green");
                    lbl.text(response.d + ' $ left on voucher');
                } else {
                    lbl.attr("color", "red");
                    lbl.text('No code');
                }

            },
            error: function () {
                lbl.attr("color", "red");
                lbl.text('Invalid voucher');
            }
        });

    }

    function setLetterCost() {
        var writtenContent = encodeURIComponent(htmlEncode(CKEDITOR.instances.LetterBox.getData()));

        var method = $('#<%=SelectedWriteMethodHdn.ClientID %>').val();
        var address = $('#<%=AddressBox.ClientID %>').val();
        var postal = $('#<%=PostalBox.ClientID %>').val();
        var city = $('#<%=CityBox.ClientID %>').val();
        var country = $('#<%=CountryCodes %>').val();
        var content = writtenContent;

        $.ajax({
            url: '/Services/Handlers/PriceHandler.ashx?method=' + method +
                '&address=' + address +
                '&postal=' + postal +
                '&city=' + city +
                '&country=' + country +
                '&content=' + content,

            type: 'GET',
            success: function (resData) {
                $('#priceOfLetterLbl').text(resData);

            },
            error: function () {

            }
        });
    }

    function setWriteMethod(method) {
        $('#<%=SelectedWriteMethodHdn.ClientID %>').val(method);

    }
    */

</script>
