@model LetterAmazer.Websites.Client.ViewModels.LandingPage.EconomicDkViewModel

@using LetterAmazer.Websites.Client.Extensions
@using Constants = LetterAmazer.Business.Utils.Helpers.Constants
@{
    Layout = "~/Views/Shared/_Standard.cshtml";
    ViewBag.PageTitle = "Bedste E-conomic app som kan sende faktura som fysiske breve";
}

<h1>Send dine E-conomic faktura som fysiske breve</h1>

@Html.ValidationSummary()
@Html.BusinessErrorMessageBox()

<img src="@Url.Content("~/Content/images/e-conomic-logo.png")" width="180px" />

<div class="row">
    <div class="col-md-6">

        <h3>Sådan installerer du app'en</h3>
        <ol>
            <li>
                Du opretter en <b>gratis</b> bruger på denne side (eller logger ind med en eksisterende)
            </li>
            <li>Du bliver ført over til en side hos E-conomic, hvor bliver bedt om at indtaste dit aftalenummer</li>
            <li>Du bliver ført tilbage til vores system</li>
            <li>Du oprettes vores app som en fane, inde i dit E-conomic system</li>
        </ol>
        Alle skridt er designet til at være intuitive. Start med at opret en LetterAmazer Skonto.
        

        <h3>Video af installation</h3>
        <iframe width="420" height="315" src="//www.youtube.com/embed/YHoidN7f0Ig" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-md-6">
        @using (Html.BeginForm("EconomicDk", "Landingpage", FormMethod.Post, new { @class = "form" }))
        {
                        <h2>Kom i gang: opret en gratis konto eller log ind</h2>
            <div class="form-group">
                <label>Email adresse:</label>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email", @type = "email" })
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <div class="form-group">
                <label>Kodeord</label>
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Kodeord" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="form-group">
                <label>Hvor kommer du fra?</label>
                @Html.DropDownListFor(model => model.SelectedCountry, Model.Countries, new { @class = "form-control" })
            </div>

            <input type="submit" name="submitBtn" class="btn btn-primary btn-lg" value="Opret gratis bruger" />
    <input type="submit" name="submitBtn" class="btn btn-primary btn-lg" value="Log ind" />

        }

        
    </div>


</div>


