@using LetterAmazer.Business.Utils.Helpers
@using LetterAmazer.Websites.Client.Extensions
@using LetterAmazer.Websites.Client.Resources.Views.User

@model LetterAmazer.Websites.Client.ViewModels.Payment.InvoiceViewModel


@section header {
}

<h2>Invoice #@Model.InvoiceNumber</h2>

@Html.ActionLink("Go back to invoice overview", "InvoiceOverview", "User")


<div class="row">
    <div class="col-md-6">
        <h3>Invoice from</h3>
        @Model.CompanyInfo.Company<br />
        @Model.CompanyInfo.Cvr<br/>
        Att. @Model.CompanyInfo.Name<br />
        @Model.CompanyInfo.Address<br />
        @Model.CompanyInfo.ZipCode @Model.CompanyInfo.City<br />
        @Model.CompanyInfo.Country<br />

    </div>
    <div class="col-md-6">
        <h3>Invoice to</h3>
        @Model.ReceiverInfo.Company<br />

        @if (!string.IsNullOrEmpty(Model.ReceiverInfo.Cvr))
        {
            <text>Att. @Model.ReceiverInfo.Cvr<br /></text>
        }

        @if (!string.IsNullOrEmpty(Model.ReceiverInfo.Name))
        {
            <text>Att. @Model.ReceiverInfo.Name<br /></text>
        }

        @Model.ReceiverInfo.Address<br />
        @Model.ReceiverInfo.ZipCode @Model.ReceiverInfo.City<br />
        @Model.ReceiverInfo.Country<br />
    </div>
</div>

<h3>
    Invoice status
</h3> @Model.Status


<h3>Orderlines</h3>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                Line
            </th>
            <th>
                Quantity
            </th>
            <th>
                Total
            </th>

        </tr>
    </thead>


    @foreach (var line in Model.Lines)
    {
        <tr>
            <td>@line.Title</td>
            <td>@line.Quantity</td>
            <td>@line.Price $</td>

        </tr>
    }
</table>

<h3>Price</h3>

<div class="row">
    <div class="col-md-6">
        <b>Total ex. VAT</b>: @Model.TotalExVat $<br />
        <b>VAT</b>: @Model.VatTotal $ (@Model.VatPercentage %)<br />
        <b>Total</b>: @Model.Total $<br />
    </div>


</div>

<h3>Bank details</h3>
<ul>
    <li>IBAN: @Constants.Texts.PracticalInformation.Iban</li>
    <li>Swift: @Constants.Texts.PracticalInformation.Swift</li>
    <li>Bank registration number: @Constants.Texts.PracticalInformation.BankReg</li>
    <li>Bank account number: @Constants.Texts.PracticalInformation.BankAccount</li>
</ul>