@using LetterAmazer.Business.Utils.Helpers
@using LetterAmazer.Websites.Client.Extensions

@model LetterAmazer.Websites.Client.ViewModels.CreditsViewModel

@{
 
    Layout = "~/Views/Shared/_Standard.cshtml";
}

<span class="breadcrumbs"><a href="/">LetterAmazer</a> > <a href="@Url.Action("Index")">Dashboard</a> > Insert money</span>

<h1>Insert money into your account</h1>

<p>Insert money into your account, so you an use them to sent letters.</p>
<p>You can always get non-used money back to your own bank account, by @Html.ActionLink("contacting us","Contact","Home").</p>


@using (Html.BeginForm("Credits", "User", FormMethod.Post))
{

    <div class="row">
        <div class="form-group col-md-4">
            <h4>How much do you want to insert?</h4>
            @Html.TextBoxFor(model => model.PurchaseAmount, new { @class = "", placeholder = "€ Amount", @type="number" }) <text>EUR</text>
            <label id="areyousure" style="font-style:italic; color:red; display:none;">Woah - are you sure? That's quite a lot of letters...</label>

        </div></div><div class="row">
        <div class="form-group col-md-4">
            <h4>Select payment method</h4>
            @Html.DropDownListFor(model => model.SelectedPaymentMethod, Model.PaymentMethods, new { @class = "form-control" })
        </div>
    </div>
    
    <h4>Summary</h4>
    
    <table class="table table-striped ">
        <thead>
            <tr>
                <th>
                    Line
                </th>
                <th>
                    Quantity
                </th>
                <th>
                    Total
                </th>
            </tr>
        </thead>
        <tr>
            <td>
                Credits
            </td>
            <td><span id="table_credit_quantity"></span></td>
            <td><span id="table_credit_total"></span> EUR</td>
        </tr>
    </table>
    <div class="row">
        <div class="col-md-6">
            <b>Total ex. VAT</b>: <span id="summary_total_ex"></span> EUR<br />
            <b>VAT</b>: <span id="summary_vatprice"></span> EUR (<span id="summary_vatpercentage"></span> %)<br />
            <b>Total</b>: <span id="summary_total"></span> EUR<br />
        </div>
    </div>
    <br/>
    <input type="submit" class="btn btn-primary btn-lg" value="Insert money into your account" />

    


}

<script type="text/javascript">
    $(document).ready(function () {
        updatePrices();
        $('#@Html.IdFor(model=>model.PurchaseAmount)').keyup(function () {
            updatePrices();
        });
    });

    function updatePrices() {
        var value = parseFloat($('#@Html.IdFor(model => model.PurchaseAmount)').val());
        if (value <= 0) {
            $('#@Html.IdFor(model=>model.PurchaseAmount)').val('25');
            value = 25;
        }

        var vatPercentageStr = '@SessionHelper.Customer.VatPercentage()'.replace(/,/g, '.');
        var vatPercentage = parseFloat(vatPercentageStr)*100;
        
        var vatAmount = (vatPercentage/100) * value;
        var total = vatAmount + value;
        $('#table_credit_quantity').text(value);
        $('#table_credit_total').text(value);
        $('#summary_total_ex').text(value);
        $('#summary_vatpercentage').text(vatPercentage);
        $('#summary_vatprice').text(vatAmount);
        $('#summary_total').text(total);

        if (value > 100000) {
            $('#areyousure').show();
        } else {
            $('#areyousure').hide();
        }

    }








    //public decimal VatPrice
    //{
    //    get
    //    {
    //        return (PriceExVat*VatPercentage);
    //    }
    //}

    //public decimal Total
    //{
    //    get { return PriceExVat*(1 + VatPercentage); }
    //}
</script>
