@using LetterAmazer.Websites.Client.Extensions
@using LetterAmazer.Websites.Client.Resources.Views.User

@model LetterAmazer.Websites.Client.ViewModels.CreditsViewModel

@section header {
}

<div class="jumbotron-white">
    <div class="container">
        <h2>@ViewRes.InsufficientFunds</h2>
        <p>@string.Format(ViewRes.InsufficientFundsHint, Model.Credit.ToFriendlyMoney(), Model.CreditLimit.ToFriendlyMoney())</p>
        <h3>@ViewRes.AddFunds</h3>
        
        @using (Html.BeginForm("Credits","User",FormMethod.Post))
        {
            
            @Html.EditorFor(model => model.PurchaseAmount) <text>($)</text>

            <div>
                
                
                @foreach (var a in Model.PaymentMethods)
                {
                    <p>
                        @Html.RadioButtonFor(b => b.SelectedPaymentMethod, a.Id)  @a.Name
                    </p>
                }
            </div>
            

            <div class="form-group">
                <input type="submit" class="btn btn-success" value="@ViewRes.GoToPayment" />
            </div>
        }

    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#@Html.IdFor(model=>model.PurchaseAmount)').change(function() {
            var value = $('#@Html.IdFor(model => model.PurchaseAmount)').val();
            if (value <= 1) {
                $('#@Html.IdFor(model=>model.PurchaseAmount)').val('1');
            }
        });
    });
</script>
