

@using LetterAmazer.Websites.Client.Extensions
@using LetterAmazer.Websites.Client.Resources.Views.User
@model LetterAmazer.Websites.Client.ViewModels.OrderDetailViewModel

@section header {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/base/jquery-ui.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.10.3.min.js")"></script>
}

<div class="jumbotron-white">
    <div class="container">
        <h2>@ViewRes.DetailsForOrder @Model.Id</h2>
        <p><a href="@Url.Action("Index")">@ViewRes.GoBackToOrderOverview</a></p>
        <h3>@ViewRes.OrderDetails</h3>
        <dl>
            <dt>@ViewRes.Status:</dt>
            <dd>@ViewRes.ResourceManager.GetString(Model.OrderStatus.ToString())</dd>
            <dt>@ViewRes.Created:</dt>
            <dd>@Model.DateCreated.ToFriendlyDateTime()</dd>
            <dt>@ViewRes.LastUpdated</dt>
            <dd>@Model.DateModified.ToFriendlyDateTime()</dd>
        </dl>

        <h3>@ViewRes.DetailsOfLetters</h3>

            <h4>@ViewRes.Letter</h4>
            <p><a href="@Url.Action("Download", new { id = Model.Id })">@ViewRes.DownloadLetterContent</a></p>
            <div class="row">
                <div class="col-lg-6">
                    <h4>@ViewRes.ReceipientDetails</h4>
                    <p>
                        <b>Att</b>
                        @if (!string.IsNullOrEmpty(Model.AddressInfo.AttPerson))
                        {
                         @Model.AddressInfo.AttPerson
                        }
                        else
                        {
                         @Model.AddressInfo.FirstName @Model.AddressInfo.LastName   
                        }
                        <br/>
                        @Model.AddressInfo.Address1 <br />
                        @Model.AddressInfo.PostalCode @Model.AddressInfo.City <br />
                        @Model.AddressInfo.Country.Name
                    </p>
                    <h4>@ViewRes.PrintingDetails</h4>
                    <dl>
                        <dt>@ViewRes.Color:</dt>
                        <dd>@Model.LetterDetails.LetterColor.ToString()</dd>
                        <dt>@ViewRes.PaperType:</dt>
                        <dd>@Model.LetterDetails.LetterProcessing.ToString()</dd>
                        <dt>@ViewRes.PrintingQuality:</dt>
                        <dd>@Model.LetterDetails.LetterSize.ToString()</dd>
                        <dt>@ViewRes.PrintingQuality:</dt>
                        <dd>@Model.LetterDetails.LetterPaperWeight.ToString()</dd>
                        <dt>@ViewRes.PrintingQuality:</dt>
                        <dd>@Model.LetterDetails.LetterType.ToString()</dd>

                    </dl>
                </div>
                <div class="col-lg-6">
                    <h4>@ViewRes.LetterStatus</h4>
                    <dl>
                        <dt>@Model.DateCreated.ToFriendlyDateTime():</dt>
                        <dd>@ViewRes.OrderWasCreated</dd>
                        
                        @*<dt>@Model.DatePaid.ToFriendlyDateTime():</dt>
                        <dd>@ViewRes.OrderWasPaid</dd>
                        
                        <dt>@Model.DateSent.ToFriendlyDateTime():</dt>
                        <dd>@ViewRes.OrderWasSent</dd>*@
                        
                    </dl>
                </div>
            </div>
    </div>
</div>
<script type="text/javascript">
    
</script>
