@using LetterAmazer.Websites.Client.Extensions
@model LetterAmazer.Websites.Client.ViewModels.OrderDetailViewModel

<span class="breadcrumbs"><a href="/">LMPost</a> > <a href="@Url.Action("Index")">Dashboard</a> > Order details</span>

@section header {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/base/jquery-ui.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.10.3.min.js")"></script>
}

<h1>Order details</h1>

<h2>Order status</h2>

<div class="dashboardBox" style="text-align:left;">
    <div class="row">
        <div class="col-md-3 statusCircle">


            <div class="bg-success circleDiv">
                <span class="circleNumber">1</span>
            </div>
            <br />
            <b>1. Order created</b><br />

            Order was created @Model.DateCreated

            <br />
            <img src="/Content/images/icons/1400886751_onebit_34.png" width="40px;" />
        </div>

        <div class="col-md-3 statusCircle">
            @if (Model.Step > 1)
            {
                <div class="bg-success circleDiv">
                    <span class="circleNumber">2</span>
                </div>
                <br />
                <b>2. Order paid</b>
                <br />
                <text>Order was paid the @Model.DatePaid  </text>
                <br />
                <img src="/Content/images/icons/1400886751_onebit_34.png" width="40px;" />
            }
            else
            {
                <div class="bg-info circleDiv">
                    <span class="circleNumber">2</span>
                </div>
                <br />
                <b>2. Order paid</b>
                <br />
                <text>Order has not been paid yet</text>
            }

        </div>

        <div class="col-md-3 statusCircle">
            @if (Model.Step > 2)
            {
                <div class="bg-success circleDiv"><span class="circleNumber">3</span></div>
                <br />
                <b>3. Order sent</b><br />
                <text>Order was sent the @Model.DateSent.</text>
                <br />
                <img src="/Content/images/icons/1400886751_onebit_34.png" width="40px;" />
            }
            else
            {
                <div class="bg-info circleDiv"><span class="circleNumber">3</span></div>
                <br />
                <b>3. Order sent</b><br />
                <text>Orders are usually sent after a maximum of two weekdays.</text>
            }

        </div>

    </div>
</div>

<hr />

<h2>Order details</h2>

<div class="dashboardBox" style="text-align:left;">
    <div class="row">
        <div class="col-md-6">
            <h4>Price</h4>
            Price ex. VAT: @Math.Round(Model.Price.PriceExVat, 2) EUR<br />
            Vat (@Math.Round((Model.Price.VatPercentage * 100), 2) %): @Math.Round(Model.Price.VatPrice, 2) EUR<br />
            Total: @Math.Round(Model.Price.Total, 2) EUR<br /><br />

        </div>
        <div class="col-md-6">
            <h4>Order info</h4>
            ID: @Model.OrderId<br/>
            Created by: @Model.CreatedByEmail
        </div>
    </div>

</div>

<hr />

<h2>Details about letters in this order</h2>

@if (Model.Letters.Count > 1)
{
    <p class="smallInfo">@Model.Letters.Count Letters in this order.</p>

}
else
{
<p class="smallInfo">@Model.Letters.Count Letter in this order.</p>
  
}
@foreach (var letter in Model.Letters)
{
    <div class="dashboardBox" style="text-align:left;">
        <div class="row">
            <div class="col-md-4">
                <h4>Download letter</h4>
                <a class="btn btn-lg btn-primary" href="@Url.Action("Download", new { id = letter.Id })">Download letter</a>
            </div>
            <div class="col-md-4">
                <h4>Price</h4>
                Price ex. VAT: @Math.Round(letter.Price.PriceExVat, 2) EUR<br />
                Vat (@Math.Round((letter.Price.VatPercentage * 100), 2) %): @Math.Round(letter.Price.VatPrice, 2) EUR<br />
                Total: @Math.Round(letter.Price.Total, 2) EUR<br /><br />

            </div>
            <div class="col-md-4">
                <h4>Letter info</h4>
                Id: @letter.Id
            </div>

        </div>


    </div>
}




