@model LetterAmazer.Websites.Client.ViewModels.User.EditOrganisationViewModel

<h1>Edit your organisation @Model.OrganisationName</h1>


@using (Html.BeginForm("EditOrganisation", "User", FormMethod.Post))
{

    <div class="row">
        <div class="col-md-6">
            <label class="form-label" for="OrganisationName">Organisation name</label><br />
            @Html.TextBoxFor(m => m.OrganisationName, new { @class = "form-control", placeholder = "Organisation name" })

            <br />
            <label class="form-label" for="">Country</label><br />
            @Html.DropDownListFor(model => model.SelectedCountry, Model.Countries)
            <br />
            <label class="form-label" for="VatNumber">Vat number</label><br />
            @Html.TextBoxFor(m => m.VatNumber, new { @class = "form-control", placeholder = "Vat nr" })
            <br />
            <label class="form-label" for="Address1">Address</label><br />
            @Html.TextBoxFor(m => m.Address1, new { @class = "form-control", placeholder = "Address" })
            <br />
            <label class="form-label" for="Address2">Address 2 (optional)</label><br />
            @Html.TextBoxFor(m => m.Address2, new { @class = "form-control", placeholder = "Address 2" })
            <br />
            <label class="form-label" for="ZipCode">Zip code</label><br />
            @Html.TextBoxFor(m => m.ZipCode, new { @class = "form-control", placeholder = "Zip code" })
            <br />
            <label class="form-label" for="State">State (optional)</label><br />
            @Html.TextBoxFor(m => m.State, new { @class = "form-control", placeholder = "State" })
            <br />
            <label class="form-label" for="City">City</label><br />
            @Html.TextBoxFor(m => m.City, new { @class = "form-control", placeholder = "City" })



            <input type="submit" value="Edit organisation" class="btn btn-lg btn-success" />

            @Html.HiddenFor(model => model.OrganisationId);
        </div>
    </div>
}
