@using LetterAmazer.Business.Utils.Helpers
@using LetterAmazer.Websites.Client.Extensions

@model LetterAmazer.Websites.Client.ViewModels.DashboardViewModel

@section header {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/base/jquery-ui.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.10.3.min.js")"></script>
}

@{
    ViewBag.PageTitle = "Dashboard - LetterAmazer";
}

<span class="breadcrumbs"><a href="/">LetterAmazer</a> > Dashboard</span>

@if (!SessionHelper.Customer.IsActivated)
{
    @Html.Partial("_notActivated")
}




<h2>Actions</h2>
@if (Model.Customer.HasOrganisation)
{
    <p class="smallInfo">You are logged in as @Model.Customer.Organisation.Name, <a href="@Url.Action("Logout", "Home")">log out</a>.</p>
}
else
{
    <p class="smallInfo">You are logged in with e-mail @Model.Customer.Email, <a href="@Url.Action("Logout", "Home")">log out</a>.</p>
}

<div class="row">
    <div class="col-md-4">
        <a href="@Url.Action("SendWindowedLetter")" class="dashboardLink">
            <div class="dashboardBox pointer">
                <img src="@Url.Content("~/Content/images/icons/1401042242_Send_mail.png")" width="80px" />

                <p class="lead">Send a letter</p>
                <p>Send a windowed envelope to any address, worldwide.</p>
            </div>
        </a>
    </div>
    <div class="col-md-4">
        <a href="@Url.Action("Credits")" class="dashboardLink">
            <div class="dashboardBox pointer">
                <img src="@Url.Content("~/Content/images/icons/1401042203_money_send_3.png")" width="80px" />

                <p class="lead">Insert money into account</p>
                <p>Pick between many different payment methods.</p>
            </div>
        </a>

    </div>
    <div class="col-md-4">
        <a href="@Url.Action("Contact","Home")" class="dashboardLink">
            <div class="dashboardBox pointer">
                <img src="@Url.Content("~/Content/images/icons/1401042222_information_support.png")" width="80px" />
                <p class="lead">Help or special request</p>
                <p>Need support or need to send specific types of letters?</p>
            </div>
        </a>

    </div>

</div>

<hr />

<h2>Stats</h2>

<div class="row">
    <div class="col-md-4">
        <div class="dashboardBox">
            <p class="lead">Money on account</p>
            <p class="credit-text">@Math.Round(Model.Customer.CreditsLeft, 2) EUR</p>
            <p><a href="@Url.Action("Credits")">Insert more</a></p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="dashboardBox">
            <p class="lead">Money spent last week</p>
            <p class="credit-text">@Math.Round(Model.MoneyLastMoney,2) EUR<br/>(ex. vat)</p>
        </div>
    </div>
    <div class="col-md-4">
        <div class="dashboardBox">
            <p class="lead">Letters sent last week</p>
            <p class="credit-text">@Model.LettersLastMonth</p>

        </div>
    </div>
</div>

<hr />

@if (Model.UnpaidInvoices != null && Model.UnpaidInvoices.InvoiceSnippets.Any())
{
    <h2>Pending unpaid invoices</h2>
    
    <div class="dashboardBox">
    @Html.Partial("_invoiceOverview", Model.UnpaidInvoices)
    @Html.ActionLink("See all your invoices", "InvoiceOverview", "User")
        </div>
    <hr />
}







@if (Model.Orders != null && Model.Orders.Any())
{
    <h2>Latest orders</h2>

    <div class="dashboardBox">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>Order#</td>
                        <td>Date</td>
                        <td>Order state</td>
                        <td>Letter count</td>
                        <td>Price </td>
                        <td>See details </td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Orders)
                {

                        <tr>
                            <td>@item.Id</td>
                            <td>@item.DateCreated.ToFriendlyDateTime()</td>
                            <td>@item.OrderStatus.ToString()</td>
                            <td>@item.OrderLines.Count</td>
                            <td>@item.Price.ToFriendlyMoney() EUR</td>
                            <td><a href="@Url.Action("Details", new { id = item.Id })">See details</a></td>

                        </tr>
                }
                </tbody>
            </table>
        </div></div>
}








<script type="text/javascript">
    $(function () {
        $('#fromDate').datepicker({
            dateFormat: 'yy-mm-dd'
        });
        $('#toDate').datepicker({
            dateFormat: 'yy-mm-dd'
        });
    });
</script>
