@using LetterAmazer.Business.Services.Utilities
@using LetterAmazer.Websites.Client.Extensions
@using LetterAmazer.Websites.Client.Resources.Views.User

@model LetterAmazer.Websites.Client.ViewModels.ProfileViewModel

@section header {
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/themes/base/jquery-ui.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-ui-1.10.3.min.js")"></script>
}

<div class="jumbotron-white">
    <div class="container">
        <h2>@ViewRes.SendALetter, @Model.Customer.CustomerInfo.CompanyName</h2>
        <h3>@ViewRes.Credits: <strong class="credit">@Model.Customer.Credits.Value.ToFriendlyMoney()$</strong></h3>
        <h4>@ViewRes.SendALetter</h4>
        <p><a class="btn btn-success" href="@Url.Action("SendALetter")">@ViewRes.SendALetterNow</a></p>
        <h4>@ViewRes.OrderOverview</h4>
        <form class="form-inline" role="form" method="get" action="@Url.Action("Index")">
            <div class="form-group">
                <label class="sr-only" for="fromDate">From</label>
                <input type="text" class="form-control" id="fromDate" placeholder="From" name="fromDate" value="@(Model.FromDate.HasValue ? Model.FromDate.Value.ToString("yyyy-MM-dd") : "")"/>
            </div>
            <div class="form-group">
                <label class="sr-only" for="toDate">To</label>
                <input type="text" class="form-control" id="toDate" placeholder="To" name="toDate" value="@(Model.ToDate.HasValue ? Model.ToDate.Value.ToString("yyyy-MM-dd") : "")"/>
            </div>
            <button type="submit" class="btn btn-success">@ViewRes.Search</button>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>@ViewRes.Order#</td>
                    <td>@ViewRes.Date</td>
                    <td>@ViewRes.OrderState</td>
                    <td>@ViewRes.LetterCount</td>
                    <td>@ViewRes.Price</td>
                    <td>@ViewRes.Details</td>
                    <td>@ViewRes.DeleteOrder</td>
                </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Orders.Results)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.DateCreated.ToFriendlyDateTime()</td>
                    <td>@ViewRes.ResourceManager.GetString(item.OrderStatus.ToString())</td>
                    <td>@item.OrderItems.Count</td>
                    <td>@item.Price.ToFriendlyMoney() USD</td>
                    <td><a href="@Url.Action("Details", new { id = item.Id })">See details</a></td>
                    <td><a href="@Url.Action("Delete", new { id = item.Id })">Delete order</a></td>
                </tr>
            }
            </tbody>
        </table>
        @Html.Raw(Html.Paginator(Model.Orders.PageIndex, Model.Orders.PageSize, Model.Orders.TotalItems))
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#fromDate').datepicker({
            dateFormat: 'yy-mm-dd'
        });
        $('#toDate').datepicker({
            dateFormat: 'yy-mm-dd'
        })
    });
</script>
