@using LetterAmazer.Business.Utils.Helpers
@using LetterAmazer.Websites.Client.Resources.Views.User
@model LetterAmazer.Websites.Client.ViewModels.CreateSingleLetterModel

@section header {
    <script type="text/javascript" src="@Url.Content("~/Scripts/ckeditor/ckeditor.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/ckeditor/config.js")"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBulh9LO7V3Eb80BF0-h6BW6MyiO-qNTC0&sensor=false"></script>

    <link href="@Url.Content("~/Scripts/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/uploadify/jquery.uploadify.min.js")"></script>

    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/dropzone/css/dropzone.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/dropzone/dropzone.min.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/knockout-3.0.0.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/internals/country.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/internals/sendaletter-viewmodel.js")"></script>
}

<div class="jumbotron-white">
    <div class="container">
        <div class="text-center promotionMargin">
            <img src="/Content/images/letteramazer.png" />
            <div>
                <p class="frontpageLead">
                    @ViewRes.EmailSendingSteps
                </p>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron-lightblue">
    <div class="container">
        <div class="promotionMargin">
            @using (Html.BeginForm("SendALetter", "User", FormMethod.Post, new { id = "sendALetterForm" }))
            {
                <div class="row">
                    <div class="col-lg-7">
                        <div class="sendLettersForm">
                            <div id="sendaletter-step1" data-bind="visible: showStepOne()">
                                <div class="row">
                                    <div class="col-lg-11 col-lg-offset-1">
                                        <p class="frontpageLeadExplanation">@ViewRes.StepOne</p>
                                        <p>
                                            @Html.HiddenFor(m => m.Email)
                                        </p>
                                        <p>
                                            @ViewRes.RecipientName<span class="input-required">*</span><br />
                                            @Html.TextBoxFor(m => m.RecipientName, new Dictionary<string, object> { { "class", "input-lg" }, { "placeholder", "Enter recipient" }, { "data-bind", "value: receiver" } })
                                        </p>
                                        <p>
                                            @ViewRes.DestinationCountry<span class="input-required">*</span><br />
                                            @Html.DropDownListFor(model => model.SelectedCountry, Model.Countries, new Dictionary<string, object> { { "class", "form-control sendaletter_countrylist" }, { "data-bind", "value:countryId" } })

                                            @Html.HiddenFor(m => m.DestinationCountry, new Dictionary<string, object> { { "data-bind", "value:countryId" } })
                                            <br />
                                        </p>
                                        <p>
                                            @ViewRes.DestinationZipCode<span class="input-required">*</span><br />
                                            @Html.TextBoxFor(m => m.ZipCode, new Dictionary<string, object> { { "class", "input-lg address" }, { "placeholder", "Enter destination ZIP code" }, { "data-bind", "value:postal" } })
                                        </p>
                                        <p>
                                            @ViewRes.DestinationCity<span class="input-required">*</span><br />
                                            @Html.TextBoxFor(m => m.DestinationCity, new Dictionary<string, object> { { "class", "input-lg address" }, { "placeholder", "Enter destination city" }, { "data-bind", "value:city" } })
                                        </p>
                                        <p>
                                            State (optional)<br />
                                            @Html.TextBoxFor(m => m.DestinationState, new Dictionary<string, object> { { "class", "input-lg address" }, { "placeholder", "Enter destination state" }, { "data-bind", "value:state" } })
                                        </p>

                                        <p>
                                            @ViewRes.DestinationAddress<span class="input-required">*</span><br />
                                            @Html.TextBoxFor(m => m.DestinationAddress, new Dictionary<string, object> { { "class", "input-lg address" }, { "placeholder", "Enter destination address" }, { "data-bind", "value:address" } })
                                        </p>
                                        <input id="btn-proceed-12" type="button" class="btn btn-primary btn-lg" value="@ViewRes.Proceed &raquo;" data-bind="click: goToStepTwo" />
                                    </div>
                                </div>
                            </div>

                            <div id="sendaletter-step2" data-bind="visible: showStepTwo()">
                                <p class="frontpageLeadExplanation">@ViewRes.StepTwo</p>
                                <p class="caption frontpageCaption" style="margin-top: -10px; margin-bottom: 14px;">(@ViewRes.WePromiseWeDontLook)</p>

                                <div id="step2-choice" style="margin-bottom: 11px; overflow: auto;" data-bind="visible: uploadPdf() == 0">
                                    <a id="lnkUploadPdf" data-bind="click: useUploadPdfMode" style="float: left;">
                                        <span class="btn btn-primary btn-lg" style="margin-bottom: 5px;">@ViewRes.UploadPDFFile</span>
                                    </a>
                                    <span style="float: left; padding: 10px;">Or</span>
                                    <a id="lnkWriteText" data-bind="click: useWriteContentMode" style="float: left;">
                                        <span class="btn btn-primary btn-lg">@ViewRes.WriteLetterHere</span>
                                    </a>
                                </div>
                                <div id="step2-upload" class="promotionMargin" style="margin-top: 25px;" data-bind="visible: isUploadFile()">
                                    <p class="frontpageLeadExplanation">@ViewRes.UploadYourPDFFile:</p>
                                    <div id="myDropzone" class="la-dropzone">
                                        <div class="dz-default dz-message">
                                            <span>
                                                @Html.Raw(ViewRes.UploadHint)
                                            </span>
                                        </div>
                                    </div>
                                    <label data-bind="visible: showMissingUpload" class="error">Please upload your letter!</label>
                                    <div id="uploadFallbackPanel" style="display: none;">
                                        <input id="fileUpload" name="fileUpload" type="file" />
                                    </div>
                                    <br />
                                    <br />
                                    <a id="uploadLetterBack" class="btn btn-default" data-bind="click: resetContentMode">@ViewRes.Back</a>
                                </div>
                                <div id="step2-write" class="promotionMargin" style="margin-top: 25px;" data-bind="visible: isWriteContent()">
                                    <p class="frontpageLeadExplanation">@ViewRes.WriteYourLetter:</p>
                                    @Html.TextAreaFor(m => m.WriteContent)
                                    <label data-bind="visible: showMissingWriteContent" class="error">Please write your letter!</label>
                                    <label id="currentChars"></label>
                                    <a class="pdfPreviewLnk" href="#" data-bind="click: previewWrittenContent">@ViewRes.SeePreviewHowLetterLook</a>
                                    <br />
                                    <br />
                                    <a id="writeLetterBack" class="btn btn-default" data-bind="click: resetContentMode">@ViewRes.Back</a>
                                </div>

                                <input id="btn-back-21" type="button" class="btn btn-default" value="Back" data-bind="click: goToStepOne, visible: uploadPdf() == 0" />
                                <input id="btn-proceed-23" type="button" class="btn btn-primary btn-lg" value="@ViewRes.Proceed &raquo;" data-bind="click: goToStepThree, visible: showStepTwoAction()" />
                            </div>

                            <div id="sendaletter-step3" data-bind="visible: showStepThree()">
                                <p class="frontpageLeadExplanation">@ViewRes.StepThree</p>
                                <p class="frontpageSmallLeadExplanation">@Html.Raw(ViewRes.StepThreeExplanation)</p>
                                <hr />
                                <p data-bind="visible: uploadPdf() == 1">
                                    <b>@ViewRes.Remember:</b> <a class="pdfPreviewLnk" href="#" data-bind="click: previewPDF">@ViewRes.SeePreviewHowLetterLook</a>
                                </p>
                                <p data-bind="visible: uploadPdf() == 2">
                                    <b>@ViewRes.Remember:</b> <a class="pdfPreviewLnk" href="#" data-bind="click: previewWrittenContent">@ViewRes.SeePreviewHowLetterLook</a>
                                </p>
                                <div class="alert alert-info" data-bind="visible: showEnoughCredits() == false">
                                    @Html.Raw(ViewRes.NotEnoughCreditsHint)
                                </div>
                                <div class="row letterDestination">
                                    <div class="col-lg-6">
                                        <dl>
                                            <dt>@ViewRes.PaymentMethod</dt>
                                            <dd data-bind="text: paymentMethod">PayPal</dd>

                                            <dt>@ViewRes.ShippingTime</dt>
                                            <dd>3-6 work days</dd>

                                            <dt>@ViewRes.Price</dt>
                                            <dd>
                                                <label id="priceOfLetterLbl" data-bind="text: getPriceExVat"></label> $

                                                @if (SessionHelper.Customer.VatPercentage() > 0.0m)
                                                {
                                                    <text>(<label id="priceOfLetterLbl" data-bind="text: getPriceTotal"></label> $ inc. local VAT)</text>
                                                }

                                            </dd>
                                        </dl>
                                    </div>
                                    <div class="col-lg-6 ">
                                        <dl>
                                            <dt>@ViewRes.LetterDestination</dt>
                                            <dd>
                                                @ViewRes.To
                                                <label id="receiverLbl" data-bind="text: receiver"></label>
                                                <br />
                                                <label id="addressLbl" data-bind="text: address"></label>
                                                <br />
                                                <label id="postalLbl" data-bind="text: postal"></label>
                                                <label id="cityLbl" data-bind="text: city"></label>
                                                <br />
                                                <label id="countryLbl" data-bind="text: country"></label>
                                            </dd>
                                        </dl>
                                    </div>
                                </div>

                                @*@Html.CheckBoxFor(m => m.SignUpNewsletter)
                                @ViewRes.FollowOurExcitingJourneyThroughEmail*@
                                <br />
                                <br />
                                <input id="btn-back-32" type="button" class="btn btn-default" value="@ViewRes.Back" data-bind="click: goToStepTwo" />
                                <input id="btnsubmit" type="submit" class="btn btn-primary btn-lg submitAbe" value="@ViewRes.StampAndSendLetter &raquo;" data-bind="click: save, visible: showEnoughCredits() == true" />
                                <a href="@Url.Action("Credits")" class="btn btn-lg btn-info" data-bind="visible: showEnoughCredits() == false">@ViewRes.AddCreditsToYourAccount</a>
                                @Html.HiddenFor(m => m.UseUploadFile, new Dictionary<string, object> { { "data-bind", "value:useUploadFile" } })
                                @Html.HiddenFor(m => m.UploadFile, new Dictionary<string, object> { { "data-bind", "value:uploadFileKey" } })
                                <br />
                                <br />
                                @*<a href="javascript:void(0)" id="toggleVoucherLnk" data-bind="click: toggleVoucherPanel">(@ViewRes.AddVoucher)</a>*@
                                <div id="voucherDiv" data-bind="visible: showVoucher()">
                                    <p>
                                        @ViewRes.Voucher:<br />
                                        @Html.TextBoxFor(m => m.VoucherCode, new Dictionary<string, object> { { "id", "voucherBox" }, { "class", "input-lg" }, { "placeholder", ViewRes.EnterVoucherCode }, { "data-bind", "value:voucherCode" } })
                                        <label id="voucherStatus" data-bind="text: voucherStatus, attr: {'style': voucherColor}"></label>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div id="locationMap" style="margin-top: 15px;" data-bind="visible: showMap()">
                            <div class="google-map-canvas" data-bind="visible: initMap()">
                                <div id="mapsDiv">
                                    <div id="map-canvas" style="width: 457px; height: 500px; border: 1px solid #d9d9d9; border-radius: 10px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
                @Html.HiddenFor(model=>model.PaymentMethodId)
                @Html.HiddenFor(model=>model.LetterType)
                
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    var createLetterData = {
        countryList: countryList,
        currentFile: null,
        generatePDFUrl: '@Url.Action("GeneratePDF", "SingleLetter")',
        getPriceUrl: '@Url.Action("GetPrice", "SingleLetter")',
        applyVoucherUrl: '@Url.Action("ApplyVoucher", "SingleLetter")',
        previewPDFUrl: '@Url.Action("PreviewPDF", "SingleLetter")',
        geocoder: new google.maps.Geocoder(),
        isAutheticated: true
    };

    CKEDITOR.replace('WriteContent');
    createLetterData.writeContentEditor = CKEDITOR.instances.WriteContent;

    var viewModel = new SendALetterViewModel('#sendALetterForm', createLetterData);
    ko.applyBindings(viewModel, document.getElementById('sendALetterForm'));

    $('div#myDropzone').dropzone({
        url: '@Url.Action("Upload", "SingleLetter")',
        acceptedFiles: 'application/pdf',
        maxFilesize: 10,
        addRemoveLinks: true,
        dictRemoveFile: '@ViewRes.RemoveFile',
        fallback: function () {
            $('div#myDropzone').hide();
            $('div#uploadFallbackPanel').show();
        },
        success: function (file, data) {
            var template = file.previewTemplate;
            if (data.status == "success") {
                if (createLetterData.currentFile != null) $(createLetterData.currentFile.previewTemplate).remove();
                createLetterData.currentFile = file;
                $(template).find('.dz-progress').hide();
                $(template).find('.dz-details img').attr({
                    'src': '@Url.Content("~/Content/images/pdf-icon.png")',
                    'height': '100',
                    'style': 'margin-top: 28px; margin-left: 20px; height: 65px; width: 65px; display: block;'
                });
                viewModel.uploadFileKey(data.key);
            } else {
                $(template).find('.dz-error-message').remove();
                $(template).addClass('dz-error');
                $(template).find('.dz-error-mark').on('click', function () {
                    $(template).remove();
                });
                viewModel.uploadFileKey('');
            }
        },
        error: function (file, responseText) {
            var template = file.previewTemplate;
            $(template).remove();
            viewModel.uploadFileKey('');
        },
        removedfile: function (file) {
            var template = file.previewTemplate;
            $(template).remove();
            viewModel.uploadFileKey('');
        }
    });

    $('#fileUpload').uploadify({
        'buttonText': '@ViewRes.SelectPDF',
        'fileTypeDesc': 'PDF Files',
        'fileTypeExts': '*.pdf',
        'fileObjName': 'uploadFile',
        'removeCompleted': false,
        'multi': false,
        'swf': '@Url.Content("~/Scripts/uploadify/uploadify.swf")',
        'uploader': '@Url.Action("Upload", "SingleLetter")',
        'onUploadSuccess': function (file, data, response) {
            console.info("data: ", data);
            var result = $.parseJSON(data);
            if (result.status == "success") {
                viewModel.uploadFileKey(result.key);
            }
        },
        'onUploadError': function (ex, e, er) {
            console.log(er);
        }
    });
</script>
