@using LetterAmazer.Business.Utils.Helpers
@model LetterAmazer.Websites.Client.ViewModels.User.SendWindowedLetterViewModel

@section header {
    <link href="@Url.Content("~/Scripts/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/uploadify/jquery.uploadify.min.js")"></script>

    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/dropzone/css/dropzone.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/dropzone/dropzone.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/knockout-3.0.0.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/internals/windowedletter-viewmodel.js")"></script>
}

<h1>Send a windowed envelope</h1>

@Html.ActionLink("Go back to your dashboard", "Index")<br /><br />


@Html.Partial("_sendWindowedEnvelope",Model)