@{

    ViewBag.PageTitle = "Automate sending letters - batch sending of physical letters";
    Layout = "~/Views/Shared/_Standard.cshtml";
}

<h1>Automate your business:<br/>
    Let LMPost send all your letters
</h1>

<p>
    When we do the calculations together with our customers, we always get the same result:
        <b>It is cheaper to use LMPost to send letters</b>, than doing it internally.
</p>
<p>With LMPost you don't have to worry about salary for packaging, envelopes, stamps or delivery of letters.</p>

<p><b>There are NO registration fees, monthly fees or minimum usage</b>.</p>

<div class="row">
    <div class="col-md-4 frontPageBox">
    
        <img src="@Url.Content("~/Content/images/icons/1395514603_Account.png")" />
        <span class="lead">
            1. Create account
        </span>
        <span>
            Create a free account and you will be ready within 2 minutes
            <br />
            <a class="btn btn-lg btn-primary" href="@Url.Action("Account")">Create an account now</a>
        </span>

    
</div>

    <div class="col-md-4 frontPageBox">
        <img src="@Url.Content("~/Content/images/icons/1395514602_circle-add.png")"  />
        <span class="lead">
            2. Insert money
        </span>
        <span>
            Pay using invoice or PayPal. There is no minimum amount.
        </span>
    
</div>
    <div class="col-md-4 frontPageBox">
    
        <img src="@Url.Content("~/Content/images/icons/1395498076_130.png")" />
        <span class="lead">
            3. Send letters
        </span>
        <span>
            Sending a single letter takes less than 30 seconds. You can always see what letters you previously has sent
        </span>
    </div>

</div>


<hr />


   <h2>Why is LMPost a cheaper option?</h2>

    <p>The cost of sending letters is not only the postage fee. It is also salary, envelopes, paper, stamps and time spent making the delivery.</p>
    <p>At LMPost we send <b>a lot</b> of letters. That means:</p>
    <ul>
        <li>We automate the process of sending letters. Everything from printing, inventory and delivery is done by machines</li>
        <li>We purchase big amounts of envelopes, paper and other supplies, so we get cheaper prices</li>

    </ul>

    <p>
        <b>International letters</b>.
        <br />
        We have offices around the world, which means we can print and send letters locally. That brings our prices down, much more than the local prices.
    </p>
    <p><b>Our prices</b> is publically available. @Html.ActionLink("See the prices here", "Pricing").</p>


<hr />


<h2>Automatic integration</h2>
    <p>If you send a lot of letters, or want to send letters inside an application, we have an answer for that as well.</p>
    <p>We have a working API. With this API, any application or software can send letters to any address in the world. We have previously experiences a lot of interest from:</p>
    <ul>
        <li>Accounting departments</li>
        <li>Companies selling tickets</li>
        <li>New apps and software as a service (SAAS) services</li>
        <li>Potential resellers</li>
        <li>... and many others</li>
    </ul>
    <p>The truth is that most developers would be able to integrate with LMPost within a couple of hours. We use a standard REST API, and provide solid documentation.</p>

    <p>@Html.ActionLink("Read more about our API", "ApiInfo")</p>


<hr />

<h2>Fast, convenient and stable</h2>
    <p>
        When a trained employee uses to our system, it takes less than 10 seconds to send a windowed letter. That makes it extremely fast and convenient to send letters.
    </p>
    <p>We recognize that stability and uptime is extremely important. Therefore, we make sure of the following:</p>
    <ul>
        <li>We have multiple monitors on the website, so we can act if anything goes wrong</li>
        <li>We run a wide range of tests, every time we make new code, so we don't break existing features</li>
        <li>We are able to switch servers within hours, if sometimes go wrong</li>
        <li>We take daily backups</li>
    </ul>


<hr />

<h2>How about privacy?</h2>
    <p>Every employee working with our letters, sign a confidential agreement. That means your letters are safe with us, and you don't have to worry about privacy.</p>


<hr />

<h2>Start today - try for free</h2>
    <p>Let us get you started. Remember, it is free!</p>
    <a class="btn btn-lg btn-primary" href="@Url.Action("Account")">Create an account now</a>
