@using Antlr.StringTemplate
@using Constants = LetterAmazer.Business.Utils.Helpers.Constants
@{
    Layout = "~/Views/Shared/_Standard.cshtml";
    ViewBag.PageTitle = "Contact LetterAmazer";
}
<div class="frontpage">
    <div class="frontpage-top-usptext" style="text-align:left">
        <h1>Contact us</h1>
        <p>Always feel free to contact us.</p>
        
        <div class="row">
            <div class="col-md-4">
                <h2>Contact information</h2>
                <p>We speak English and Danish.</p>
                <b>E-mail</b>: (+45) 42927250<br />
                <b>Phone</b>: info@letteramazer.com<br />
                <b>Skype</b>: LarsHoldgaard (CEO)

            </div>
            <div class="col-md-4">
                <h2>Company information</h2>
                LetterAmazer IvS<br />
                Vat number: DK35636307<br /><br />
                Måløv Hovedgade 58c st. th.<br />
                2760 Måløv<br />
                Denmark
            </div>
            <div class="col-md-4">
                <h2>Bank information</h2>
                <b>Bank name</b>: @Constants.Texts.PracticalInformation.BankName <br />
                <b>IBAN</b>: @Constants.Texts.PracticalInformation.Iban <br />
                <b>Swift</b>: @Constants.Texts.PracticalInformation.Swift <br />
                <b>Bank registration number</b>: @Constants.Texts.PracticalInformation.BankReg <br />
                <b>Bank account number</b>: @Constants.Texts.PracticalInformation.BankAccount <br />
            </div>

        </div>
    
      

       
    </div>
</div>