@using LetterAmazer.Websites.Client.Resources.Views.Home
@using LetterAmazer.Websites.Client.Extensions

@model LetterAmazer.Websites.Client.ViewModels.LoginViewModel

@section header {
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
}

<h1>Forgot password</h1>
@using (Html.BeginForm())
{
    @Html.BusinessErrorMessageBox()
    <div class="row login">
        <div class="col-lg-6">
            <label class="sr-only" for="Email">@ViewRes.Email</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = ViewRes.Email })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
    </div>
    <br/>
    <div class="row login">
        <div class="col-lg-12">
            <input type="submit" class="btn btn-primary btn-lg" value="Request Password Request" />
        </div>
    </div>
}
