@using LetterAmazer.Websites.Client.Extensions

@model LetterAmazer.Websites.Client.ViewModels.LoginViewModel

@{
    Layout = "~/Views/Shared/_Standard.cshtml";
}

@section header {
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
}

<h1>Reset your password</h1>
<p>If you have forgotten your password, you can reset it on this page.</p>
<p>
    <b>The steps are as follows</b>:<br />
    <ol>
        <li>Enter your e-mail below</li>
        <li>Click "Reset your password"</li>
        <li>Click the link in the e-mail we send</li>
        <li>Write a new password</li>
    </ol>
</p>

<h3>Enter your e-mail below to reset your password</h3>

    @using (Html.BeginForm())
    {
        @Html.BusinessErrorMessageBox()

        <div class="form-group">
            <label>E-mail address</label>
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter your e-mail" })
            @Html.ValidationMessageFor(m => m.Email)

        </div>
        <input type="submit" class="btn btn-primary btn-lg" value="Reset your password" />
    }
