@using LetterAmazer.Websites.Client.Resources.Views.Home

@model dynamic

<div class="jumbotron-white">
    <div class="container">
        <div class="text-center promotionMargin">
            <img src="/Content/images/letteramazer.png" />
            <div>
                <p class="frontpageLead">
                    @Html.Raw(ViewRes.SendLettersWorldWideAutomatically)
                </p>
                <p>
                    <a class="btn btn-primary btn-lg" href="@Url.Action("Index", "SingleLetter")" style="font-size: 25px; padding: 0 30px; line-height: 2.33;">@ViewRes.SendLetterNow &raquo;</a>
                </p>
            </div>
        </div>
    </div>
</div>

<div class="jumbotron-lightblue">
    <div class="container">
        <div class="promotionMargin">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    @Html.Raw(ViewRes.HomepageHint)
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container frontpage-bottom-usp">
    <div class="row">
        <div class="col-lg-4">
            <h2>@ViewRes.SendSingleALetter</h2>
            @Html.Raw(ViewRes.SendSingleALetterContent)
            <p><a class="btn btn-default" href="@Url.Action("Index", "SingleLetter")">@ViewRes.ViewDetails &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>@ViewRes.ForBusiness</h2>
            @Html.Raw(ViewRes.ForBusinessContent)
            <p><a class="btn btn-default" href="@Url.Action("Business", "Home")">@ViewRes.ViewDetails &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <h2>@ViewRes.Pricing</h2>
            @Html.Raw(ViewRes.PricingHomepageContent)
            <p><a class="btn btn-default" href="@Url.Action("Pricing", "Home")">@ViewRes.ViewDetails &raquo;</a></p>
        </div>
    </div>
</div>

<hr />

<div class="container frontpage-bottom-usp frontpageBottomText">
    <div class="row">
        <div class="col-lg-8">
            @Html.Raw(ViewRes.HomepageContent)
        </div>
        <div class="col-lg-4" id="newsletterStuff">
            @Html.Partial("NewsletterForm")
        </div>
    </div>
</div>
