@using LetterAmazer.Websites.Client.ViewModels.Shared
@model LetterAmazer.Websites.Client.ViewModels.User.SendWindowedLetterViewModel
@section header {
    <link href="@Url.Content("~/Scripts/uploadify/uploadify.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/uploadify/jquery.uploadify.min.js")"></script>

    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Scripts/dropzone/css/dropzone.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/dropzone/dropzone.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/knockout-3.0.0.js")"></script>

    <script type="text/javascript" src="@Url.Content("~/Scripts/internals/windowedletter-viewmodel.js")"></script>
}

@{
    ViewBag.PageTitle = "Send a letter online - sending snail mail internationally";
    Layout = "~/Views/Shared/_Standard.cshtml";
}



<div class="row">
    <div class="col-md-8">

        <h1 class="frontpageHeader">We send real letters, worldwide</h1>
        <div class="row">
            <div class="col-md-4 frontPageBox">

                <img src="@Url.Content("~/Content/images/icons/1395498087_cloud-upload.png")" />
                <span class="lead">
                    1. You upload a PDF file
                </span>


            </div>

            <div class="col-md-4 frontPageBox">

                <img src="@Url.Content("~/Content/images/icons/1395600604_print.png")" />
                <span class="lead">
                    2. We print and send your letter
                </span>

            </div>
            <div class="col-md-4 frontPageBox">

                <img src="@Url.Content("~/Content/images/icons/1395498076_130.png")" />
                <span class="lead">
                    3. Letters are delivered soon after
                </span>

            </div>
        </div>

        <h2>Our service explained in 65 seconds</h2>
        <div class="flex-video widescreen">
            <iframe src="//www.youtube.com/embed/aBfAEVf018g" frameborder="0" allowfullscreen></iframe>
        </div>

        <div class="row">
            <div class="col-md-4">
                <a href="@Url.Action("Demo")" class="btn btn-primary btn-lg" style="min-width: 180px; margin-top: 8px; margin-bottom: 8px; ">See video of use</a>

            </div>

            <div class="col-md-4">
                <a href="@Url.Action("Account")" class="btn btn-primary btn-lg" style="min-width: 180px; margin-top: 8px; margin-bottom: 8px;">Get a free account</a>
            </div>
            <div class="col-md-4">
                <a href="/sendletters/denmark" class="btn btn-primary btn-lg" style="min-width: 180px; margin-top: 8px; margin-bottom: 8px; ">Try our interface</a>
            </div>

        </div>





    </div>
    <div class="col-md-4">

        @Html.Partial("_formTryService", new TryServiceViewModel())


    </div>
</div>

<h2>How do we do it?</h2>
<div class="row">
    <div class="col-md-4 frontPageBox">

        <img src="@Url.Content("~/Content/images/icons/1395498087_cloud-upload.png")" />
        <span class="lead">
            1. You upload a file
        </span>
        <span>
            Submit your PDF file. Either use our online form that takes 5 seconds, or our API
            <br /><a href="#step_one_upload">Read more</a>
        </span>


    </div>

    <div class="col-md-4 frontPageBox">

        <img src="@Url.Content("~/Content/images/icons/1395600604_print.png")" />
        <span class="lead">
            2. We print and send your letter
        </span>
        <span>
            Your letter is printed at a professional mailing house, and put into a quality envelope
            <br /><a href="#step_two_upload">Read more</a>
        </span>

    </div>
    <div class="col-md-4 frontPageBox">

        <img src="@Url.Content("~/Content/images/icons/1395498076_130.png")" />
        <span class="lead">
            3. Letters are delivered soon after
        </span>
        <span>
            Your letter is delivered to the specified address. Usually the next day
            <br /><a href="#step_three_shipping">Read more</a>
        </span>
    </div>
</div>



<hr />

<h2 id="step_one_upload">
    1. Uploading a file to LMPost
</h2>
<p>
    Uploading a file to LMPost is simple:<br />
    You select the PDF file you want to send and submit it.
</p>
<p>All letters you have sent are stored in your account, which means you can always see what letters you previously have sent.</p>




<hr />

<h2 id="step_two_upload">
    2. Printing
</h2>
<p>We use quality printing houses around the world. When you upload a file, we make sure it is sent to a local printing house, that delivers high quality.</p>
<p>Privacy is a top priority. All employees at the printing houses sign a confidentiality agreement to ensure your information is protected.</p>

<hr />


<h2 id="step_three_shipping">
    3. Delivery

</h2>
<p>
    The letters are printed locally, and sent locally. This allows us to maintain low prices, high quality and fast delivery times.
</p>
<p>Letters are usually delivered within 2-days of submission.</p>


<hr />


<h2>Secure, high quality and fast delivery</h2>
<p>The three main questions we get from new customers, concern privacy, quality and delivery time of letters. Luckily, we have great answers to all these concerns.</p>
<p><b>Your privacy is top priority</b>. Your files are stored on a secure server, all requests are SSL-encrypted and payments are made through secure gateways. Employees working at the printing houses sign confidentiality contracts, prohibiting them from accessing the content of the letters. We do everything we can to make sure your data is protected.</p>
<p><b>We only work with high quality envelopes and letters</b>. When LMPost sends a letter, it uses only high quality paper (90g) and quality envelopes.</p>
<p><b>We deliver very fast</b>. We want our letters to arrive at our customers FAST. Therefore, we work with providers that can promise fast turnaround of letters.</p>


<hr />



<h2>Send a letter online - sending snail mail internationally</h2>


<p>15 Years ago we were blessed with the invention of e-mail, and communication has been extremely easy since. However, we all send physical letters from time to time.</p>

<p>Sending physical letters is so tiresome. First you have to buy some windowed envelopes. Then you have to manually adjust the document, so the recipient’s address fits the window in the envelope. Then you have to print the documents on a printer (oh wait, who does actually own a working printer with ink these days?). Then you have to bend the paper, and manually put the paper down in the envelope. Afterwards, you have to close the envelope (if you are lucky they seal automatically, if you are unlucky you have to use your tongue). Last, you have forgotten to buy stamps, and you need to go down to the postal office and buy them. Then you can send your letters… if you can find a mailbox.</p>

<p>We have decided to fix this problem so no one ever has to face it again.</p>

<p>We have made a service which makes it easy to send letters. You go to www.lmpost.com, upload the letter as a file and then we send the letter for you. Easy, done deal.</p>

<p>Heck, this is especially easy if you run a business. You can create an account with some credits, so you don't have to worry about payment each time. Then you can easily send letters from our website without using any form of payment.</p>

<p>Good. It's time to stop the madness. Enough time has been spent licking envelopes and stamps. Let's save time and money, and make everyone happier.</p>

<p>Welcome to LMPost.</p>

<a href="/sendletters/denmark">Try sending a letter now</a>
