
@using LetterAmazer.Websites.Client.Extensions

@model LetterAmazer.Websites.Client.ViewModels.LoginViewModel

@{
    ViewBag.PageTitle = "Log in at LetterAmazer";
}

@section header {
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
}


<h1>Log in</h1>
<p>Please log in with your e-mail or password.<br/><br/>If you don't have an account, you @Html.ActionLink("can create a free account","Register"). If you cannot remember your password, @Html.ActionLink("you can recover it", "ForgotPassword").</p>

<div class="row loginSection">
    <div class="col-lg-6">
        @using (Html.BeginForm())
        {
            @Html.BusinessErrorMessageBox()
            <div class="row login">
                <div class="col-lg-6">
                    <label class="sr-only" for="Email">Email</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mail" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            <div class="row login">
                <div class="col-lg-6">
                    <label class="sr-only" for="Password">Password</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            <div class="row login">
                <div class="col-lg-12">
                    <input type="submit" class="btn btn-primary btn-lg" value="Log in" />
                </div>
            </div>
            <div class="row login">
                <div class="col-lg-12">
                    <a href="@Url.Action("ForgotPassword")">Forgot password?</a>
                </div>
            </div>
        }
    </div>
    <div class="col-lg-6" style="text-align: right">
        @*<img src="@Url.Content("~/Content/images/printer_cartoon.gif")" alt="" width="300" />*@
    </div>
</div>
