
@using LetterAmazer.Websites.Client.Extensions

@model LetterAmazer.Websites.Client.ViewModels.RegisterViewModel

@section header {
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
}

        <div class="row loginSection">
            <div class="col-lg-6">
                @using (Html.BeginForm())
                {
                    @Html.BusinessErrorMessageBox()
                    <div class="row login">
                        <div class="col-lg-6">
                            <label class="sr-only" for="Password">Password</label>
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                            @Html.ValidationMessageFor(m => m.Password)
                        </div>
                    </div>
                    <div class="row login">
                        <div class="col-lg-6">
                            <label class="sr-only" for="Password">Confirm password</label>
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm password" })
                            @Html.ValidationMessageFor(m => m.ConfirmPassword)
                        </div>
                    </div>
                    <div class="row login">
                        <div class="col-lg-12">
                            <input type="submit" class="btn btn-primary btn-lg" value="Reset Password" />
                            @Html.HiddenFor(m => m.ResetPasswordKey)
                        </div>
                    </div>
                }
            </div>
            <div class="col-lg-6" style="text-align: right">

            </div>
        </div>