@using LetterAmazer.Websites.Client.Extensions

@model LetterAmazer.Websites.Client.ViewModels.RegisterViewModel

@section header {
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
}

@{
    Layout = "~/Views/Shared/_Standard.cshtml";
}

<h1>Set a new password</h1>

<p>You have requested to set a new password for the account with the e-mail <i>@Model.Email</i>.</p>
<p>Select a new password below.</p>


@using (Html.BeginForm())
{
    @Html.BusinessErrorMessageBox()

    <div class="form-group">
        <label>Password</label>
        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
        @Html.ValidationMessageFor(m => m.Password)
    </div>

    <div class="form-group"><label>Confirm your password</label>

        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm password" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)

    </div>
    <input type="submit" class="btn btn-primary btn-lg" value="Set a new password" />
    @Html.HiddenFor(m => m.ResetPasswordKey)
}
