@using LetterAmazer.Websites.Client.Resources.Views.Home
@using LetterAmazer.Websites.Client.Extensions

@model LetterAmazer.Websites.Client.ViewModels.RegisterViewModel

@section header {
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
}

<h1>Register</h1>
<div class="row loginSection">
    <div class="col-lg-6">
        <p>@ViewRes.LoginHint</p>
        @using (Html.BeginForm())
        {
            @Html.BusinessErrorMessageBox()

            <div class="row login">
                <div class="col-lg-6">
                    <label class="sr-only" for="Email">@ViewRes.Email</label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = ViewRes.Email })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            <div class="row login">
                <div class="col-lg-6">
                    <label class="sr-only" for="Password">@ViewRes.Password</label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = ViewRes.Password })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <input type="submit" class="btn btn-primary btn-lg" value="I agree, let's go" />
        }
    </div>
    <div class="col-lg-6" style="text-align: right">
        <img src="@Url.Content("~/Content/images/printer_cartoon.gif")" alt="" width="300" />
    </div>
</div>
