@using LetterAmazer.Websites.Client.Resources.Views.Home
@using LetterAmazer.Websites.Client.Extensions

@model LetterAmazer.Websites.Client.ViewModels.RegisterViewModel

@{
    
    ViewBag.PageTitle = "Register an account at LetterAmazer";
}

@section header {
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
}

<h1>Register</h1>
<p>
   Accounts are for both companies and private. By creating a <b>free account</b>, you are able to: <br />
    <ul>
        <li>Send letters much faster</li>
        <li>Insert credits on your account, so you don't have to pay every time you send a letter</li>
        <li>Get an overview of all your invoices</li>
        <li>
            See and download all letters you have sent previously
        </li>
    </ul>
</p>

<div class="row loginSection" style="padding-top: 0px;">
    <div class="col-lg-6">

        
        <h2>Fill out your information</h2>
        @using (Html.BeginForm())
        {
            @Html.BusinessErrorMessageBox()

            <div class="row login">
                <div class="col-lg-6">
                    <label class="sr-only" for="Email">@ViewRes.Email<span class="input-required">*</span></label>
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = ViewRes.Email })
                    @Html.ValidationMessageFor(m => m.Email)
                </div>
            </div>
            <div class="row login">
                <div class="col-lg-6">
                    <label class="sr-only" for="Password">@ViewRes.Password<span class="input-required">*</span></label>
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = ViewRes.Password })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>
            <div class="row login">
                <div class="col-lg-6">
                    <label class="sr-only" for="Password">Your country<span class="input-required">*</span></label>
                    @Html.DropDownListFor(model => model.SelectedCountry, Model.Countries, new { @class = "form-control" })
                </div>
            </div>
            
            <input type="submit" class="btn btn-primary btn-lg" value="Create your account now" />
        }
        
        <br/>
        <p>Do you already have an account? <a href="@Url.Action("Login")">You can log in here</a>.</p>
    </div>

    @*<div class="col-lg-6" style="text-align: right">
        <img src="@Url.Content("~/Content/images/printer_cartoon.gif")" alt="" width="300" />
    </div>*@
</div>
