@using LetterAmazer.Websites.Client.Resources.Views.Shared
@{
    var controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var action = ViewContext.RouteData.Values["action"].ToString().ToLower();
}
<!DOCTYPE hml>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewRes.PageTitle</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />
    <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Kite+One" />

    @Styles.Render("~/Content/css")

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    @RenderSection("header", false)
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/Content/images/letteramazer_small_white.png" height="25" class="navbar-left" /></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="@(action == "index" && controller == "home" ? "active" : "")"><a href="@Url.Action("Index", "Home")">@ViewRes.Home</a></li>
                    <li class="@(action == "index" && controller == "singleletter" ? "active" : "")"><a href="@Url.Action("Index", "SingleLetter")">@ViewRes.SendALetter</a></li>
                    <li class="@(action == "business" && controller == "home" ? "active" : "")"><a href="@Url.Action("Business", "Home")">@ViewRes.Business</a></li>
                    <li class="@(action == "api" && controller == "home" ? "active" : "")"><a href="@Url.Action("Api", "Home")">@ViewRes.Api</a></li>
                    <li class="@(action == "pricing" && controller == "home" ? "active" : "")"><a href="@Url.Action("Pricing", "Home")">@ViewRes.Pricing</a></li>
                </ul>
            </div>
        </div>
    </div>

    @RenderBody()

    <div class="container">
        <hr />
        <footer class="footer">
            <a href="/"><img src="/Content/images/letteramazer_small.png" height="25" class="navbar-left" /></a>
            <ul>
                <li>@Html.ActionLink(ViewRes.AboutUs, "About", "Home")</li>
                <li>@Html.ActionLink(ViewRes.ContactUs, "Contact", "Home")</li>
            </ul>
        </footer>
    </div>

    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-45976349-1', 'letteramazer.com');
        ga('send', 'pageview');
    </script>
</body>
</html>
