@{
    var controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
    var action = ViewContext.RouteData.Values["action"].ToString().ToLower();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.PageTitle</title>

    <link href="@Url.Content("~/Content/plugins/bootstrap/bootstrap.min.css")" rel="stylesheet" type="text/css" />

    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/plugins/bootstrap/js/bootstrap.min.js")"></script>

    @RenderSection("header", false)
</head>
<body>
    <header>
        <a href="/">LetterAmazer</a>
        
        <nav>
            <ul class="nav navbar-nav">
                <li>
                    Send letters
                </li>
                <li>
                    Business
                </li>
                <li>
                    API
                </li>
                <li>
                    Pricing
                </li>
                <li>
                    Account
                </li>
            </ul>
        </nav>
    </header>
    
    <main>
    
        @RenderBody()    
    </main>

    

    
    <footer>
        
    </footer>


    <script type="text/javascript">
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-45976349-1', 'letteramazer.com');
        ga('send', 'pageview');
    </script>
</body>

</html>
